.cart-item{
    margin: 100px 170px;


}
.cart-item hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cart-item-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitem.format{
    font-size: 17px;
    font-weight: 500;

}
.carticon-product-icon{
    height: 62px;

}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitem-quality{
    width: 64px;
    height: 50px;
    border:2px solid #ebebeb;
    background: #fff;

}
.cartitems-down{
    display: flex;
    margin:100px 0px;

}
.cartitems-total{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap:40px;
}
.cartitem-totalitem{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.Proceed{
    width:262px;
    height: 58px;
    outline: none;
    border:none;
    background:red;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.cartitems-promcode{
   flex:1;
   font-size: 16px;
   font-weight: 500;
   

}
.cartitems-promcode p{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}
.cartitemspromobox{
    width:504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;

}
.cartitemspromobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height:50px;
}
.cartitemspromobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}