.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display: flex;
    gap:17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.productdisplay-img-list img{
    height: 163px;
    
}
.productdisplay-main-img{
    width:500px;
    height: 600px;
}
.productdisplay-right{
    margin:0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 70;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap:5px;
    color: #1c1c1c;
    font-size: 16px;
}
.product-right-price{
    display: flex;
    margin: 5px;
    gap:10px;
    font-size: 24px;
    font-weight: 700;
}
.product-right-old-prices{
    color: #818181;
    text-decoration: line-through;
}
.product-right-new-prices{
     color:black;
   
}
.productdisplay-right-size h1{
    columns: black;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;


}
.productdisplay-right-sizes{
    display: flex;
    gap:20px;
    margin-bottom: 20px;
}


.productdisplay-right-sizes div{
    padding:18px 24px;
    background: #fbfbfb;
    border:1px solid #ebebeb;
    border-radius: 3px;
    cursor:pointer;
    display: flex;
    
}
.productdisplay-right button{
    padding: 20px 40px;
    width:150px;
    font-size: 10px;
    font-weight: 600px;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border:none;
    outline:none;
    cursor: pointer;
}
.productsdisplay-right-category{
    margin-top: 10px;
}
.productsdisplay-right-category span{
    font-weight: 600;
   

}